h1{
    color:rgb(30, 213, 213);
}

b{
    font-size: 30px;
    color:orange;
}

center{
    border-radius: 7px;
    background-color: rgba(248, 255, 119, 0.966);
    border-left:solid 5px  blue;
    border-right:solid 5px  blue;
}

.line{
    border: dashed 3px;
    border-color: green;
}

.under{
    border-bottom: double 4px;
    border-color: deeppink;
}

.image img{
    border: 50px;
    border-color: rgb(236, 14, 14);
    text-align: center;
    margin: 0;
}